.home-container {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

/* 

.head-menu .line {
    width: 30px;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
} */

.footer {
    background-color: white;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
}