.main-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-label h1 {
    margin: 0;
}


.profile-label .label-1 {
    margin-bottom: 5px;
    font-size: 0.7em;
}
.profile-label .label-2 {
    font-weight: 600;
}

.card-saldo {
    /* width: 100%; */
    height: 100px;
    background-color: #0516AF;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-saldo h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
}

.wallet-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.wallet-label p {
    font-size: 0.8em;
    font-weight: 600;
}

.wallet-label .label-2 {
    color: #949292;
}

.wallet-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}