select {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(155, 153, 153);
    padding: 5px;
    background-color: white;
    color: rgb(95, 95, 95);
    padding-right: 5px;
}