.bank {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.bank h2 , .wallet h2 {
    font-weight: 400;
}

.wallet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(153, 207, 253);
    height: 100px;
    border-radius: 10px;
    padding: 20px;
}

.wallet h2 {
    font-size: 0.8em;
}

.balance {
    font-size: 1.5em;
    font-weight: 500;
}