.bank {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.bank h2 , .wallets h2 {
    font-weight: 400;
}

.wallets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: rgb(153, 207, 253); */
    /* height: 100px; */
    width: 110px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #F2F2F2;
    gap: 20px;
    cursor: pointer;
}

.wallets h2 {
    font-size: 0.7em;
}

.wallets .balance {
    font-size: 0.8em;
    font-weight: 500;
}

.wallets .label {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.icon img {
    width: 20px;
    height: 20px;
}

.KESEHATAN {
    content: url('./../../../public/images/icons8-health-48.png');
}

.EMERGENCY {
    content: url('./../../../public/images/icons8-money-32.png');
}

.TRAVELING {
    content: url('./../../../public/images/icons8-traveling-64.png');
}

.MARRIED {
    content: url('./../../../public/images/icons8-married-64.png');
}

.BELANJA {
    content: url('./../../../public/images/icons8-buy-48.png');
}

.MAKAN, .JAJAN {
    content: url('./../../../public/images/icons8-soup-plate-48.png');
}

.wallet {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(192, 192, 241);
    height: 100px;
    padding: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.wallet .label {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wallet .label h2 {
    font-size: 0.8em;
}

.wallet .label .balance {
    font-size: 1.5em;
}