.dashboard-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* .dashboard-container > h1 {
    font-size: 2em;
    line-height: 1.5;
} */

.chart {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
}

h1 {
    font-weight: 700;
    margin-bottom: 50px;
}

.wallets-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.tab-btn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: #9AB0FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: #7882DE;
    color: white;
    font-weight: 700;
}

.active-tab {
    background-color: white;
    color: #B1B1B1;
}