.cashflow-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    /* padding-top: 50px; */
}

.cashflow-container h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 50px;
}

