.dashboard-container {
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.chart {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
}

h1 {
    font-weight: 700;
}

.bank-balance h1 {
    margin-bottom: 50px;
}

/* .banks {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
} */

.wallets {
    
    background-color: #965f5f;
    display: flex;
    flex-direction: column;
    gap: 30px;
}