.cashflow-wallet {
    background-color: rgb(235, 246, 255);
    width: 100%;
    min-height: 100vh;
    
}

.line1 .line2 {
    width: 50px;
    height: 5px;
    background-color: rgb(206, 206, 255);
}